table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    padding: 5px;
}

#red {
    color: red;
}

#green {
    color: green;
}

dt {
    width: 120px;
    display: inline-block;
}

dl {
    margin: 10px 0;
    padding: 0;
    background: none repeat scroll;
}

dd {
    margin-left: 10px;
    display: inline-block;
}
